<div id="content">
  <div class="page">
    <div class="rightcontent">
      <div class="ad1"> <img src="/assets/ad1.jpg" width="300" height="125" /> </div>
      <div class="ad2"> <img src="/assets/ad2.jpg" width="300" height="125" /> </div>
      <div class="ad3"> <img src="/assets/ad3.jpg" width="300" height="250" /> </div>
      <div class="ad3"> <img src="images/ad3.jpg" width="300" height="250" /> </div>
      <div class="ad3"> <img src="images/ad3.jpg" width="300" height="250" /> </div>
    </div>
    <div class="leftcontent">

      <div class="lsitarea">

        <h1 class="headingh1">Photos</h1>
        <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: "notice" %>
        <% end %>

        <!--<div class="pagination"> <span class="sort">Sort by:</span>
          <form action="#">
            <select>
              <option>Select Category</option>
            </select>
          </form>
          <div class="clear"></div>
        </div>
        -->
        <%unless @photos.blank?%>
            <% @photos.each do |photo| %>
                <div class="post">
                  <div class="leftpost">
                    <div class="middilepost">
                      <div class="inline">
                        <p>Photo Name - <%=h photo.name %></p>
                        <p><%= image_tag photo.image.url(:thumb) %></p>
                        <p><%= link_to 'Delete', listing_photo_path(@listing, photo), :confirm => 'Are you sure?', :method => :delete %></p>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
            <%end%>
        <%end%>
        <p><%= link_to 'New Photo', new_listing_photo_path(@listing), {:style=>'color:#649D4A'} %> | <%= link_to 'Back to Listing', edit_user_listing_path(@user, @listing), {:style=>'color:#649D4A'} %></p>
        <div class="post">
          <div class="">
            <div class="middilepost">
              <div class="inline">

                <div class="clear"></div>
              </div>

              <span></span>.</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>



    </div>
    <div class="clear"></div>
  </div>
</div>
